<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/hyperspacetemplate/")assets/css/main.css"/>
    @*[if lte IE 8]><script src="@Url.Content("~/Content/hyperspacetemplate/")assets/js/ie/html5shiv.js"></script>[endif]*@
    <!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
    <!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css"/><![endif]-->

    <!-- Scripts -->
    <script type="text/javascript" src="@Url.Content("~/Content/hyperspacetemplate/")assets/js/jquery.min.js"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/hyperspacetemplate/")assets/js/jquery.scrollex.min.js"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/hyperspacetemplate/")assets/js/jquery.scrolly.min.js"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/hyperspacetemplate/")assets/js/skel.min.js"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/hyperspacetemplate/")assets/js/util.js"></script>
    <!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
    <script type="text/javascript" src="@Url.Content("~/Content/hyperspacetemplate/")assets/js/main.js"></script>
    <style>
        img {
            max-width: 100%;
            height: auto;
        }
    </style>
</head>
<body>

    <div>
        @RenderBody()
    </div>
    <footer class="style1-alt align-right">
        <div class="inner">
            <ul class="menu">
                <li>Best viewed in Google Crome.</li>
                <li>&copy; aryavaishyamelavakinwat.in. All rights reserved.</li>
                <li><a href="@Url.Action("DesignedBy", "Registration")" target="_blank">Designed By: Durga, Kinwat</a></li>
            </ul>
        </div>
    </footer>
</body>
</html>
