<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/hyperspacetemplate/")assets/css/main.css"/>
    @*[if lte IE 8]><script src="@Url.Content("~/Content/hyperspacetemplate/")assets/js/ie/html5shiv.js"></script>[endif]*@
    <!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css"/><![endif]-->
    <!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css"/><![endif]-->

    <!-- Scripts -->
    <script type="text/javascript" src="@Url.Content("~/Content/hyperspacetemplate/")assets/js/jquery.min.js"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/hyperspacetemplate/")assets/js/jquery.scrollex.min.js"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/hyperspacetemplate/")assets/js/jquery.scrolly.min.js"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/hyperspacetemplate/")assets/js/skel.min.js"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/hyperspacetemplate/")assets/js/util.js"></script>
    @*[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script>[endif]*@
    <script type="text/javascript" src="@Url.Content("~/Content/hyperspacetemplate/")assets/js/main.js"></script>
    <script>
        function myFunction() {
            var x = document.getElementById("myTopnav");
            if (x.className === "topnav") {
                x.className += " responsive";
            } else {
                x.className = "topnav";
            }
        }
    </script>
    <style>
        img {
            max-width: 100%;
            height: auto;
        }
    </style>
</head>

<body>
    <img src="~/Content/hyperspacetemplate/images/home-title.png" style="margin: 1em 0 0em 2em;" />
    <!-- Sidebar -->
    <ul class="topnav" id="myTopnav">
        <li><a href="@Url.Action("Home", "Registration")">
            <button class="btn-style">Home</button></a></li>
        @*<li><a href="@Url.Action("ProgramDetails", "Registration")">Program Details</a></li>
                    <li><a href="@Url.Action("Venue", "Registration")">Venue</a></li>*@
        <li><a href="@Url.Action("AboutUs", "Registration")">
            <button class="btn-style">About</button></a></li>
        <li><a href="@Url.Action("Register", "Registration")">
            <button class="btn-style">Registration</button></a></li>
        <li><a href="@Url.Action("ContactUs", "Registration")">
            <button class="btn-style">Contact Us</button></a></li>
        <li><a href="@Url.Action("Login", "Registration")">
            <button class="btn-style">Login</button></a></li>
        <li class="icon">
            <a href="javascript:void(0);" style="font-size: 15px;" onclick="myFunction()">☰</a>
        </li>
    </ul>
    <div>
        @RenderBody()
    </div>
    <footer class="style1-alt align-right">
        <div class="inner">
            <ul class="menu">
                <li>Best viewed in Google Crome.</li>
                <li>&copy; Durga Software Technologies. All rights reserved.</li>
                <li>Designed By: Kalyan Kapratwar</li>
            </ul>
        </div>
    </footer>
</body>
</html>
