@{
    ViewBag.Title = "DesignedBy";
    Layout = "~/Views/Shared/_desginedByLayout.cshtml";
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/hyperspacetemplate/")assets/css/main.css"/>
    <script type="text/javascript" src="@Url.Content("~/Content/hyperspacetemplate/")assets/js/jquery.min.js"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/hyperspacetemplate/")assets/js/jquery.scrollex.min.js"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/hyperspacetemplate/")assets/js/jquery.scrolly.min.js"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/hyperspacetemplate/")assets/js/skel.min.js"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/hyperspacetemplate/")assets/js/util.js"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/hyperspacetemplate/")assets/js/main.js"></script>
    <script>
        function myFunction() {
            var x = document.getElementById("myTopnav");
            if (x.className === "topnav") {
                x.className += " responsive";
            } else {
                x.className = "topnav";
            }
        }
    </script>
    <style>
        img {
            max-width: 100%;
            height: auto;
        }
    </style>
</head>

<body>
    <div id="wrapper">
        <section id="three" class="wrapper style1 align-center fade-up" style="margin-top: 5em">
            <h2>&diams; Designed By &diams;</h2>
            <h3>Durga Xerox, Kinwat</h3>
            <h5>Jijamata Chowk, Main Road, Kinwat, Dist. Nanded</h5>
            <h5>Contact No - 9421870087, 9423627171</h5>
            <br />
            <div class="split">
                <section>
                    <h3>Durga Internet & Agencies, Yavatmal</h3>
                    <h5>Opposite to Nillawar Collection, Datta Chowk, Yavatmal</h5>
                    <h5>Contact No - 8087208725, 8983125585</h5>
                </section>
                <section>
                    <h3>Durga Online Shoppee, Yavatmal</h3>
                    <h5>Opposite to Stkar Dining Hall, Datta Chowk, Yavatmal</h5>
                    <h5>Contact No - 9822725539, 7038290239</h5>
                </section>
            </div>
            <br />
        </section>
    </div>
</body>
</html>
