@{
    ViewBag.Title = "DesignedBy";
    Layout = "~/Views/Shared/_desginedByLayout.cshtml";
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/hyperspacetemplate/")assets/css/main.css"/>
    <script type="text/javascript" src="@Url.Content("~/Content/hyperspacetemplate/")assets/js/jquery.min.js"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/hyperspacetemplate/")assets/js/jquery.scrollex.min.js"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/hyperspacetemplate/")assets/js/jquery.scrolly.min.js"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/hyperspacetemplate/")assets/js/skel.min.js"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/hyperspacetemplate/")assets/js/util.js"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/hyperspacetemplate/")assets/js/main.js"></script>
    <script>
        function myFunction() {
            var x = document.getElementById("myTopnav");
            if (x.className === "topnav") {
                x.className += " responsive";
            } else {
                x.className = "topnav";
            }
        }
    </script>
    <style>
        img {
            max-width: 100%;
            height: auto;
        }
    </style>
</head>

<body>
    <div id="wrapper">
        <section id="three" class="wrapper style1 fade-up" style="margin-top: 5em">
            <div class="inner align-center">
                <h3>Durga Xerox, Kinwat</h3>
                <h4>Jijamata Chowk, Main Road, Kinwat</h4>
                <h4>Contact No - 9421870087, 9423627171</h4>
                <br />
                <h1>&diams;</h1>
                <h3>Durga Internet & Agencies, Yavatmal</h3>
                <h4>Opposite to Nillawar Complex, Datta Chowk, Yavatmal</h4>
                <h4>Contact No - 9822725539</h4>
            </div>
        </section>
    </div>
</body>
</html>
