@using MelavaWebsite.Models
@model UserDetails
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_hyperspaceLayout.cshtml";
}

<body>
    @using (Html.BeginForm("Login", "Registration", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div id="wrapper">
            <section id="four" class="wrapper style1 fade-up">
                <div class="inner">
                    <h2>Login</h2>
                    <div class="split">
                        <section>
                            <img src="../../Images/Logo/logo-one.png" alt="image1" height="150" width="370" />
                        </section>
                        <section>
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary()
                            <div class="field half first">
                                @Html.LabelFor(m => m.UserName)
                                @Html.TextBoxFor(m => m.UserName)
                            </div>
                            <div class="field half ">
                                @Html.LabelFor(m => m.Password)
                                @Html.PasswordFor(m => m.Password)
                            </div>
                            <br />

                            <button class="btn btn-info" type="submit" id="login">
                                Login</button>
                        </section>
                    </div>
                </div>

            </section>

        </div>
    }
</body>
